<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intern.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_aplicatie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_aplicatie"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FacturiActivity"
            android:label="@string/facturi_activity"
            android:launchMode="singleTop"
            android:parentActivityName=".StatusActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intern.myapplication.StatusActivity" />
            >
        </activity>

        <fragment
            android:name=".FacturaDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.intern.myapplication.FacturiActivity" />
        <fragment
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intern.myapplication.MainActivity" />
            >>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intern.myapplication.MainActivity" />
            >>
        </activity>
        <activity
            android:name=".UtilizatoriActivity"
            android:label="@string/utilizatori_activity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intern.myapplication.MainActivity" />
            >>>
        </activity>
        <activity
            android:name=".StatusActivity"
            android:label="@string/status_activity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intern.myapplication.MainActivity" />
            >>
        </activity>
        <activity
            android:name=".MesajeActivity"
            android:label="@string/mesaje_activity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intern.myapplication.MainActivity" />
            >>>
        </activity>
        <activity android:name=".MessageContentActivity"></activity>
    </application>

</manifest>